
.navbar
{
    background-color: white;
    
}

.navbar img
{
    width: 6%;
    height: 6%;
    border-radius: 50%;
}

.navbar img , .navbar i
{
    cursor: pointer;
}
.navbar i
{
    font-size: 1.6rem;
}
.navbar span
{
    font-family: 'Mirza', cursive;
    font-size: 1.6rem;
  font-weight: 500;
  position: relative;
  padding-bottom: 1rem;
}
.navbar span i
{
    color:#2ad6bf ;
}

.navbar span::after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(135deg,#08aeea 0%,#2ad6bf 100%);
    bottom: 0px;
    right: 0;
}

/*#####################end of navbar##########################################*/

/*##################################start of manu section###############################################*/
.menu-layout
{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: url(../img/background/stars.png),linear-gradient(135deg,#08aeea 0%,#2ad6bf 100%);
    z-index: 2;
    display:none;
 
    
    
}
.close-meun
{
    font-size: 1.4rem;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.menu-layout ul
{
   
    list-style-type: none;
}

.menu-layout ul li
{
    padding: 1rem;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-family: 'Mirza', cursive;
    font-weight: bold;

  
}
.menu-layout ul li::before
{
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: rgba(244, 246, 255 , 0.6);
    font-size: 5rem;
    letter-spacing: 1.4rem;
    font-weight: 700;

    opacity: 0;
    transition: 0.5s;
    white-space: nowrap;

}
.menu-layout ul li:hover:before
{
    opacity: 1;
    letter-spacing: 0rem;
}

.menu-layout ul li a
{
    text-decoration: none;
    color: #07031a;
    position: relative;
    transition: 0.5s;
    padding: 10px 15px 15px 15px;
    overflow: hidden;
    
}
.menu-layout ul:hover li a
{
    opacity: 0;
    z-index: 100;
}

.menu-layout ul li a:hover
{
    transform: scale(1.4) !important;
    background: rgb(244, 246, 255);
    opacity: 1;
   
}


.menu-layout ul li a::before
{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    background: linear-gradient(90deg ,transparent, rgba(255 ,255 ,255 ,0.8) , transparent );
    transform: skew(35deg);
}

.menu-layout ul li a:hover:before
{
    left: calc(100% + 100px);
    transition: 0.5s;
    transition-delay: 0.3s;
}


.point-move
{
    position: absolute;
    top: 10px;
    left: -50px;
    width: 50%;
    height: 50%;
    animation: move infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 15s;
    animation-fill-mode: both;
    animation-direction: alternate;
  

}
.point-move2
{
    position: absolute;
    bottom: 10px;
    right: -50px;
    width: 50%;
    height: 50%;
    animation: move2 infinite;
    animation-timing-function: ease-in-out;
    animation-duration: 20s;
    animation-fill-mode: both;
    animation-direction: alternate;
  
  
}

@keyframes move
{
    0%
    {
        top: 10%;
        left: -30%;
    }
    20%
    {
        
        left: -10%;
        bottom: -25%;
    }
    40%
    {
        
        right: 30%;
        bottom: 75%;
    }
    60%
    {
        bottom: -50%;
        left: -25%;

    }
    80%
    {
        top: -10%;
        left: -90px;
    }
    100%
    {
        top: 0px;
        left: 0px;
    }
}

@keyframes move2
{
    10%
    {
        bottom: 10%;
        right: -10%;
    }
    30%
    {
        
        right: -8%;
        bottom: -25%;
    }
    50%
    {
        
        right: 12%;
        bottom: -35%;
    }
    70%
    {
        bottom: 5%;
        right: 5%;

    }
    90%
    {
        bottom: -10%;
        right: -40px;
    }
    95%
    {
        bottom: 0px;
        right: 0px;
    }
}

/*##################################end of manu section###############################################*/



.cover
{
    height: 100vh;
    background-image: url(../img/background/bg8.png);
    background-position: bottom bottom;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.cover .content
{
    padding: 1rem;
    background-color: white;
    border-bottom-right-radius: 50%;

}

.cover .content h4
{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 1.9rem;
    word-spacing: 3px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 5px rgba(0 ,0 ,0 , 0.6);
    padding: 1rem;
    display: none;
}

.cover .content h5
{
    font-family: 'Markazi Text', serif;
    font-size: 1.2rem;
    color: #999999;
    word-spacing: 3px;
    padding: 0.5rem;
    display: none;
}
.cover .content input
{
    display: none;
}

.cover .content input:focus
{
    border: 1px solid #567CCF !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0 , 0.5);
}

.cover .content a
{
    text-decoration: none;
    color: #567CCF;
}

.cover .content .inter
{
    background-color: #567CCF ;
    color: white !important;
    font-family: 'Markazi Text', serif;
    font-size: 1.2rem;
    padding: 0.3rem 0.3rem;
  opacity: 0;
}
::placeholder
{
    font-family: 'Markazi Text', serif;
    font-size: 1rem;
    color: #999999;
}

.cover .content p
{
    font-family: 'Markazi Text', serif;
    font-size: 1.2rem;
    color: #999999;
    word-spacing: 3px;
    display: none;
}




